/* styles.css */

@import 'https://fonts.googleapis.com/css?family=Raleway:300,600,700';

html {
    font-size: 62.5%;/* Make is so 1.0rem is font size 10 */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    color: rgb(85, 85, 85);
    background-color: rgb(230, 230, 230);
    font-family: Raleway,Helvetica,Arial,sans-serif;
    font-size: 1.8rem;
    line-height: 110%;
    font-weight: 300;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: Raleway,Helvetica,Arial,sans-serif;
    color: rgb(0, 90, 90);
}
em {
    padding-right: .3rem;
	font-weight: bold;
	text-decoration: underline;
}

#mainheader {
    color: rgb(85, 85, 85);
}

/* push the #main section below the fixed nav bar */
#main {
    margin-top: 6rem;
}
/* .container class */
#main .container .heading h3 {
    font-weight: 600;
    margin: 1rem 0;
}
#main .container .heading p {
    font-size: 1.4rem;
    padding: 0 1rem;
}
#main .container .content h4 {
    font-weight: 600;
    margin: .5rem 0;
}
#main .container .content p {
    font-size: 1.4rem;
    padding: 0 1rem;
}
/* Make my buttons a fixed width so it looks nice, and is easy to press on mobile devices */
input {
    width: 150px;
    margin: 10px;
}
/* 
** The #reply ID is used to tag the pre element to make it easy to replace the code with
** the pretty printed JavaScript object returned by the JSON call.
*/
#reply {
	font-family: Courier-new, Courier;
    font-size: 1.2rem;
    padding: 0 1rem;
    margin: 1rem;
}

pre {
	white-space: pre-wrap;  /* Wrap the text for the long strings that are returned... */
}

.footer {
    color: rgb(85, 85, 85);
    background-color: rgb(152, 152, 152);
    padding: 0 0 2em 0;
    line-height: 100%;
    text-align: center;
    padding-bottom: 3rem;
}
.footer h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.footer a {
    color: rgb(51, 122, 183);
}
.footer a:hover, .footer a:active {
    color: rgb(0, 0, 102);
}
.footer .nav {
    margin-top: 0;
}
.footer li {
    list-style: none;
    display: inline;
}
.footer p {
    margin-top: 1rem;
}
.footer #footer-bottom .fa-heart {
    color: #ff866a;
}
